<html>
	<head>
		<title>lalo</title>
	</head>
	<body>
		<div>
			<h3><a href="/">Cello Concerto</a></h3>
		</div>

		{% for post in posts %}
		   <div>
			   <p>published:{{ post.published_date }}</p>
			   <h4><a href="">{{ post.title }}</a></h4>
			   <p>{{ post.text|linebreaksbr }}</p>
		   </div>
		{% endfor %}

		<!--<div>
			<p>published: </p>
			<h4><a href="">Movement I</a></h4>
			<p></p>
		</div>

		<div>
			<p>published: </p>
			<h4><a href="">Movement II</a></h4>
			<p></p>
		</div>-->
	</body>
</html>
